.homeBody {
    width: 80%;
    margin: 1em auto;
    background-color: rgb(246, 247, 247);
    text-align: center;
}

select { text-align-last:center; }

.resultDiv {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgb(128, 128, 128);
}

.top {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.left {
    width: 33%;
    margin: 0.5em;
}
.right {
    width: 50%;
    max-width: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.bgName {
    font-size: 8vw;
    margin-top: 10px;
}

.bgRules {
    font-size: 4vw;
    margin: 1em;
}

.bottom {
    margin: 0.5em;
    overflow: auto;
    max-height: 160px;
}